obj/
bin/
.DS_STORE
out/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Generated code
Matches.Infrastructure/wwwroot/*
.openapi-generator/*
build.bat
build.sh
.travis.yml
analysis_options.yaml
git_push.sh
pubspec.lock
.gitignore

.dart_tool/
pubspec.lock

.idea/
src/racketreel_mobile/build/*
DataProtection-Keys//*