obj/
bin/
.DS_STORE
out/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Generated code
RacketReel.Matches.Generated.Server*
.openapi-generator/*
build.bat
build.sh
Client/Dart/.gitignore
Client/Dart/.openapi-generator/*
Client/Dart/.travis.yml
Client/Dart/analysis_options.yaml
Client/Dart/git_push.sh
Client/Dart/openapitools.json