.serve-indicator-container {
    width: 20px;
}

.name-container {
    width: 100px;
}

.set-container {
    width: 25px;
}

.game-container {
    width: 25px;
}

.point-container {
    width: 35px;
}