@page "/matches"
@namespace RacketReel.Web.Pages

<PageTitle>Matches | Racket Reel</PageTitle>

@using RacketReel.Web.Data
@inject MatchService MatchService

<h1>Matches</h1>

<p>All matches that exist in Racket Reel.</p>

@if (matches == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Match identifier</th>
                <th>Created date and time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var match in matches)
            {
                <tr>
                    <td>@match.Id</td>
                    <td>@match.CreatedDateTime</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Match[]? matches;

    protected override async Task OnInitializedAsync()
    {
        matches = await MatchService.GetAllMatchesAsync();
    }
}
